/* Main Banner */
.margin-bottom{
  margin-bottom: 20%;

}
.header-wraper {
  position: fixed;
  top:0;
  width: 100%;
  z-index: 20;
  background-color: #fff;
}
ol, ul {
	list-style: none;
}

.position-fixed{
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 9999;
  background-color: white;
}
/* Backgroun Image */
.bg-beach{
    width: 100%;
    height: 504px;
    background:
  linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)
  ),
  url(images/beatch.png);
    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.margin{
    padding-top: 118px;
}
.layer{
  height: 50px;
}
.offers-section{
  margin-top: 50px;
  margin-bottom: 50px;
}
.position-relative{
  position: relative;
}
.postion-absolute{
  position: absolute;
  top: 13px;
  left: 13px;
  z-index: 5;
  background: #ffa31a;
  font-size: 13px;
  border: 1px solid #ffa31a;
  border-radius: 10px;
}
.paragraph{
  padding: 2px 5px;
  margin: 0;
}

/* Start Footer */
footer{
  background-color: black;
}
.fonts{
  font-size: 23px;
  margin-bottom: 10px;
}
input:focus{
  outline: none;
}
.line{
  content: '';
  width: 100%;
  height: 2px;
  background-color: white;
}
button{
  background-color: #1affff;
  border: 2px solid #1affff;
  height: 30px;
}






/* Responsive */
@media only screen and (max-width: 1030px) {
  .margin-bottom{
    margin-bottom: 10%;
  
  }
}
@media only screen and (max-width: 992px) {
  .services-section-div1{
    text-align: center;
    margin-bottom: 20px;

  }
  .services-section-div1 p{
    display: none;
  }
  .form-div{
    flex-direction: column;
    align-items: center;
  }
  .form-div:first-child{
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .form-div:first-child{
    display: block;
  }
  .services-section{
    text-align: center;
  }
}
@media only screen and (max-width: 670px) {
  .footer-div{
    display: block;
    white-space: nowrap;
  }
  .section-numbers div {
    font-size: 15px;
  }
}
@media only screen and (max-width: 670px) {
  .words{
    font-size: 10px;
  }
}


